@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700,900&display=swap');

* {
    font-family: "Montserrat";
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
}

a,
a:active,
a:hover,
a:visited {
    color: black;
    text-decoration: none;
}

#notfound {
    position: relative;
    height: 90vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-404 {
    height: 280px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-size: 230px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url("../images/404.jpg") no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}

.notfound h2 {
    margin: 18px;
    text-transform: uppercase;
}

.notfound p {
    margin: 25px 0;
    font-size: 14px;
    font-weight: 400;
}

.notfound a {
    text-decoration: none;
    text-transform: uppercase;
    background: #110133;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: white;
    box-shadow: 0px 4px 15px -5px #110133;
}

#canvas {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 142px;
    }

    .notfound .notfound-404 h1 {
        font-size: 112px;
    }
}