/* ANCHOR GLOBAL */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}


* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html {
    scroll-behavior: smooth;
}

h2 {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn-moy {
    background-color: #2BE8C6;
}

.btn-orange {
    background-color: orange;
}

.btn-red {
    background-color: red;
}

.btn-etu {
    background-color: #433B52;
}

.green {
    color: #2BE8C6;
}

.orange {
    color: orange;
}

.grey {
    color: grey;
}

.red {
    color: rgb(207, 56, 56);
}

/* ANCHOR CARD-aside  */
.card {
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 5vh;
    margin-right: 10px;
    background: #110133;
    border-radius: 25px;
    color: white;
    height: 92vh;
    user-select: none;
}

@media screen and (min-width: 993px) {
    .card {
        max-width: 360px;
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
    }
}

@media screen and (min-height: 747px) {
    .card {
        height: 80vh;
    }
}

.card img {
    max-width: 40%;
}

.btn {
    display: inline-block;
    width: 180px;
    height: 36px;
    line-height: 36px;
    border-radius: 26px;
    font-size: 16px;
    cursor: pointer;
}

.card .img-txt {
    padding-left: 20px;
    padding-bottom: 12px;
}

@media screen and (max-width: 1266px) {
    .card .img-txt {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1078px) {
    .card .img-txt {
        padding-bottom: 8px;
    }
}

@media screen and (max-width: 991px) {
    .card .img-txt {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 784px) {
    .card .img-txt {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 500px) {
    .card .img-txt {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 379px) {
    .card .img-txt {
        padding-bottom: 10px;
    }
}

.card .img-ico {
    max-width: 13%;
    padding-right: 10px;
}

.card a {
    color: white;
}

.card .as-extra-small {
    font-size: 10px;
}

.card .as-small+.btn-etu {
    margin-top: 0;
}

.card .btn-etu {
    margin-top: 1vh;
}

.card .btn-etu+.as-small {
    margin-top: 5vh;
}

.card .btn-moy {
    color: #110133;
    font-size: 20px;
}

.card .btn-moy+p {
    margin-top: 1vh;
    margin-bottom: 6vh;
    font-size: 15px;
}

@media screen and (max-height: 600px) {
    .card .btn-moy+p {
        margin-top: 1vh;
        margin-bottom: 3vh;
        font-size: 15px;
    }
}

.btn-logout {
    border: 2px solid white;
    background-color: #110133;
    margin-bottom: 0.5vh;
    transition-duration: 0.2s;
    line-height: 34px;
}

.btn-logout+.btn-logout {
    margin-top: 0.5vh;
    margin-bottom: 5vh;
}

.btn-logout:hover {
    color: #110133;
    background-color: white;
    border: 2px solid #110133;
    transition-duration: 1s;
}

.as-etu {
    font-size: 25px;
    margin-top: 5vh;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

.as-etu+p {
    font-size: 20px;
    margin-bottom: 5vh;
    margin-top: 0;
}

.as-small {
    font-size: 15px;
    margin-bottom: 2vh;
}

/* ANCHOR Mobile NAV  */
.nav div p {
    background: #110133 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #0000000D;
    border-radius: 25px;
    color: white;
    padding: 5px;
}

/* ANCHOR NOTES */
.note {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.faded {
    opacity: 0.5;
}

.note h1 {
    font-size: 40px;
    color: #110133;
}

.note a {
    color: #110133;
}

.nav a {
    color: #fff;
}

.ue-tab {
    background: #110133 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #0000000D;
    border-radius: 40px;
    color: #FFF;
    padding: 10px 0;
    margin-top: 50px;
}

.ue-nbr p,
.matiere p {
    padding-left: 20px;
}

.note-overlay {
    background: #433B52 0% 0% no-repeat padding-box;
    border-radius: 40px;
    max-width: 600px;
}

.all-note {
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #0000000D;
    margin-top: 15px;
    padding: 10px;
}

.all-note:last-child {
    margin-bottom: 100px;
}

span#me {
    padding-top: 200px;
    margin-top: -200px;
}

.note-par-matiere {
    max-width: 600px;
}

.note-par-matiere div:hover {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 35px;
}

.note-header {
    color: #FAE367;
    text-decoration: none;
}

.b {
    font-weight: bold;
}

/* ANCHOR TIPPY THEME FOR POPUP */
.tippy-tooltip.note-theme {
    background-color: #110133;
    color: #fff;
    border-radius: 30px;
    padding: 10px;
    width: 30vw;
}

.tippy-tooltip.noteSpan-theme {
    background-color: #110133;
    color: #fff;
    border-radius: 30px;
    padding: 10px;
}

@media screen and (max-width: 1604px) {
    .tippy-tooltip.note-theme {
        width: 35vw;
    }
}

@media screen and (max-width: 1375px) {
    .tippy-tooltip.note-theme {
        width: 40vw;
    }
}

@media screen and (max-width: 1193px) {
    .tippy-tooltip.note-theme {
        width: 45vw;
    }
}

@media screen and (max-width: 1067px) {
    .tippy-tooltip.note-theme {
        width: 50vw;
    }
}

@media screen and (max-width: 991px) {
    .tippy-tooltip.note-theme {
        width: 100vw;
    }
}

.tippy-tooltip.note-theme a {
    color: #fff;
}

.tippy-tooltip.note-theme .btn-etu {
    border-radius: 15px;
}

.tippy-tooltip.note-theme .separation-note {
    margin-top: -10px;
}

@media screen and (max-width: 400px) {
    .tippy-tooltip.note-theme .separation-note {
        margin-top: 0px;
    }
}

.tippy-tooltip.note-theme .promo-note p {
    line-height: 200%;
}

.tippy-tooltip.note-theme .btn-etu p {
    padding: 10px 10px;
}

.tippy-tooltip.note-theme .user-note .b+p {
    margin-top: -10px;
    margin-bottom: 25px;
}

.popup {
    display: none;
}

/* ANCHOR Note Mobile */
@media screen and (max-width: 574px) {
    .titre-mobile {
        font-size: 20px;
        text-align: center;
    }

}

@media screen and (max-width: 574px) {
    .note p {
        font-weight: bold;
    }

    .note span {
        font-weight: normal;
    }
}

@media screen and (max-width: 574px) {
    .note-par-matiere div p {
        background: #F5F5F5 0% 0% no-repeat padding-box;
        border-radius: 20px;
        padding: 15px;
    }
}

/* ANCHOR RESUME  */
.resume-tab {
    background: #110133 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #0000000D;
    border-radius: 40px;
    color: #FFF;
    padding: 10px 0;
    margin-top: 50px;
}

.note .btn-etu,
.btn-moy,
.btn-orange,
.btn-red {
    border-radius: 25px;
}

.note .btn-moy,
.btn-orange,
.btn-red {
    color: #110133;
}

.mr-14 {
    margin-right: -14px;
}

.sem div {
    display: flex;
}

.sem div p {
    padding: 10px;
    margin: auto;
}

/* ANCHOR RESUME mobile  */
@media screen and (max-width: 574px) {

    .btn-moy,
    .btn-orange,
    .btn-red {
        margin-bottom: 10px;
    }
}

/* ANCHOR RANKING  */
.btn-sub {
    color: white;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid white;
    background-color: #110133;
    transition-duration: 0.2s;
    border-radius: 5px;
}

.btn-sub:hover {
    color: #110133;
    background-color: white;
    border: 2px solid #110133;
    transition-duration: 1s;
}

.ranking-form .btn-sub {
    margin-left: 10px;
}

/* ANCHOR  FOOTER  */
footer a {
    color: #110133;
    text-decoration: underline;
}