/* GLOBAL */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

h2 {
    text-decoration: underline;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn-moy {
    background-color: #2BE8C6;

}

.btn-etu {
    background-color: #433B52;
}
.green {
    color: #2BE8C6;
}
.red {
    color: rgb(207, 56, 56);
}
/* CARD-aside  */
.card {
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 50px;
    margin-right: 10px;
    background: #110133;
    border-radius: 25px;
    color: white;
}

@media screen and (min-width: 993px) {
    .card {
        max-width: 360px;
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
    }
}

.card img {
    max-width: 40%;
}

.card button {
    width: 179px;
    height: 35px;
    border-radius: 25px;
    color: white;
    font-size: 15px;
}

.card .img-txt {
    padding-left: 20px;
    padding-bottom: 13px;
}

@media screen and (max-width: 1266px) {
    .card .img-txt {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1078px) {
    .card .img-txt {
        padding-bottom: 8px;
    }
}

@media screen and (max-width: 990px) {
    .card .img-txt {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 784px) {
    .card .img-txt {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 500px) {
    .card .img-txt {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 379px) {
    .card .img-txt {
        padding-bottom: 10px;
    }
}

.card .img-ico {
    max-width: 13%;
    padding-right: 10px;
}

.card a {
    color: white;
}
.card .as-small+.btn-etu {
    margin-top: 0;
}
.card .btn-etu {
    margin-top: 10px;
}

.card .btn-etu+p {
    margin-top: 50px;
}

.card .btn-moy {
    color: #110133;
    font-size: 20px;
}

.card .btn-moy+p {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 15px;
}

.btn-logout {
    display: inline-block;
    border: 2px solid #FFFFFF;
    background-color: #110133;
    padding: 5px 0;
    width: 179px;
    height: 35px;
    border-radius: 25px;
    color: white;
    margin-bottom: 50px;
    transition-duration: 1s;
    font-size: 15px;
}

.btn-logout:hover {
    background-color: #fff;
    border: 2px solid #110133;
    transition-duration: 1s;
}

.btn-logout:hover a {
    color: #110133;
}

.as-etu {
    font-size: 25px;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 5px;
}

.as-etu+p {
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 0;
}

.as-small {
    font-size: 15px;
    margin-bottom: 20px;
}

/* ANCHOR Mobile NAV  */
.nav div p {
    background: #110133 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #0000000D;
    border-radius: 25px;
    color: #FFFFFF;
    padding: 5px;
}

/* ANCHOR NOTES */
.note {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.note h1 {
    font-size: 40px;
    color: #110133;
}

.note a {
    color: #110133;
}

.nav a {
    color: #fff;
}

.ue-tab {
    background: #110133 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #0000000D;
    border-radius: 40px;
    color: #FFF;
    padding: 10px 0;
    margin-top: 50px;
}

.ue-nbr p,
.matiere p {
    padding-left: 20px;
}

.note-overlay {
    background: #433B52 0% 0% no-repeat padding-box;
    border-radius: 40px;
    max-width: 600px;
}

.all-note {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #0000000D;
    margin-top: 15px;
    padding: 10px;
}

.note-par-matiere {
    max-width: 600px;
}

.note-par-matiere div:hover {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 35px;
}

.note-header {
    color: #FAE367;
    text-decoration: none;
}

.b {
    font-weight: bold;
}

/* TIPPY THEME FOR POPUP */
.tippy-tooltip.note-theme {
    background-color: #110133;
    color: #fff;
    border-radius: 30px;
    padding: 10px;
}

.tippy-tooltip.note-theme .btn-etu {
    border-radius: 15px;
}
.tippy-tooltip.note-theme .separation-note {
    margin-top: -10px;
}
@media screen and (max-width: 400px) {
    .tippy-tooltip.note-theme .separation-note {
        margin-top: 0px;
    }
}
.tippy-tooltip.note-theme .promo-note p {
    line-height: 200%;
}
.tippy-tooltip.note-theme .btn-etu p {
    padding: 10px 10px;
}
.tippy-tooltip.note-theme .user-note .b+p {
    margin-top: -10px;
    margin-bottom: 25px;
}
.popup {
    display: none;
}

/* ANCHOR Note Mobile */
.note span {
    font-weight: bold;
}

@media screen and (max-width: 574px) {
    .note-par-matiere div p {
        background: #F5F5F5 0% 0% no-repeat padding-box;
        border-radius: 20px;
        padding: 15px;
    }
}

/* ANCHOR RESUME  */
.resume-tab {
    background: #110133 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #0000000D;
    border-radius: 40px;
    color: #FFF;
    padding: 10px 0;
    margin-top: 50px;
}

.note .btn-etu,
.btn-moy {
    border-radius: 25px;
}

.note .btn-moy {
    color: #110133;
}

.mr-14 {
    margin-right: -14px;
}

/* ANCHOR RESUME mobile  */
@media screen and (max-width: 574px) {
    .btn-moy {
        margin-bottom: 10px;
    }
}