@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");

@keyframes autofill {
    to {
        color: #110133;
        opacity: 0.7;
        background: transparent;
    }
}

@-webkit-keyframes autofill {
    to {
        color: #110133;
        opacity: 0.7;
        background: transparent;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: 600;
}

html {
    background-color: #110133;
}

body {
    height: 100vh;
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover,
a:link,
a:visited,
a:active {
    color: blue;
}

.img-etu {
    width: 100%;
    height: auto;
    margin-top: -70px;
    margin-right: -70px;
}

.logo-img {
    margin-top: 50px;
    max-width: 150px;
}

.logo-txt {
    margin-top: 50px;
    max-width: 350px;
}

.desc {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.desc.small {
    font-size: 24px;
}

.login-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.input {
    width: 85%;
    height: 50px;
    padding: 0px 14px;
    display: inline-block;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    box-sizing: border-box;
    resize: none;
    background-color: transparent;
    font-size: 24px;
    -webkit-user-select: text;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -moz-appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    animation-name: autofill;
    animation-fill-mode: both;
}

.out {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 8px 0;
    width: 25vw;
    background-color: white;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::-ms-input-placeholder,
input::placeholder {
    color: #110133;
    opacity: 0.5;
    font-size: 24px;
}

#submitForm {
    opacity: 0.6;
    cursor: pointer;
    color: #110133;
    background-color: transparent;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    padding: 10px 20px;
}

#submitForm:hover {
    outline: none;
    opacity: 0.8;
}

.sponso {
    margin-top: 5vh;
    font-size: 13px;
}

#showMessage {
    font-size: 24px;
    margin-top: 10px;
}

.preview {
    margin-left: auto;
    padding-top: 10px;
    padding-right: 30px;
    font-size: 14px;
    font-style: italic;
}

@media screen and (max-width: 1536px) {
    .desc {
        font-size: 24px;
    }

    input::-webkit-input-placeholder,
    input::-moz-placeholder,
    input:-ms-input-placeholder,
    input::-ms-input-placeholder,
    input::placeholder {
        font-size: 18px;
    }

    .logo-img {
        max-width: 100px;
    }
}

@media screen and (max-width: 1144px) {
    .out {
        width: 290px;
    }
}

@media screen and (max-width: 991px) {
    form {
        margin-bottom: 10px;
    }

    .img-etu {
        max-width: 80%;
    }

    p {
        padding: 20px;
    }
}

@media screen and (max-width: 574px) {
    form {
        margin-bottom: 0;
    }

    .logo-img {
        max-width: 20%;
    }

    .logo-txt {
        max-width: 70%;
    }

    p {
        padding: 0 20px;
    }
}

/* IE bullshit (negative margin right doesn't work) */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .img-etu {
        margin-right: 36px;
    }
}
